/* Shared styles */
body {
    background-color: #111;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out 0.5s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, p {
    margin-bottom: 10px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.neon-underline {
    position: relative;
    display: inline-block;
}

.neon-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.neon-underline:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Social links styles */
.social-links {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom based on your preference */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeInUp 0.5s ease-out 0.5s forwards; /* Adjusted the delay to 0.5s */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.social-links a img {
    width: 40px; /* Adjust the size based on your preference */
}

.social-links a:hover {
    transform: scale(1.2);
}
